/* Ejercicio 1 */
plate

/* Ejercicio 2 */
bento

/* Ejercicio 3 */
#fancy

/* Ejercicio 4 */
plate apple

/* Ejercicio 5 */
#fancy pickle

/* Ejercicio 6 */
.small

/* Ejercicio 7 */
orange.small

/* Ejercicio 8 */
bento orange.small

/* Ejercicio 9 */
plate, bento

/* Ejercicio 10 */
*

/* Ejercicio 11 */
plate *

/* Ejercicio 12 */
plate + apple

/* Ejercicio 13 */
bento ~ pickle

/* Ejercicio 14 */
plate > apple

/* Ejercicio 15 */
plate > orange:first-child

/* Ejercicio 16 */
plate apple, plate pickle

/* Ejercicio 17 */
apple.small, pickle.small

/* Ejercicio 18 */
plate:nth-child(3)

/* Ejercicio 19 */
bento:nth-last-child(3)

/* Ejercicio 20 */
apple:first-of-type

/* Ejercicio 21 */
plate:nth-of-type(even)

/* Ejercicio 22 */
plate:nth-of-type(2n+3)

/* Ejercicio 23 */
plate apple:only-of-type

/* Ejercicio 24 */
orange:last-of-type, apple:last-of-type

/* Ejercicio 25 */
bento:empty

/* Ejercicio 26 */
apple:not(.small)

/* Ejercicio 27 */
[for]

/* Ejercicio 28 */
plate[for]

/* Ejercicio 29 */
bento[for="Vitaly"]

/* Ejercicio 30 */
[for^="Sa"]

/* Ejercicio 31 */
[for$="ato"]

/* Ejercicio 32 */
[for*="obb"]